/* Geral */
* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #474646;
}

.tittle {
    text-align: center;
    font-size: 2rem;
    padding: 2rem;
    color: #fff;
    background-color: #222;
}

/* Container de imagens */
.container {
    width: 70vw;
    margin: 0 auto;
}

.image-container {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #444;
}

.image-container img {
   display: block;
   margin: 2rem auto 1rem;
   width: 1000px;
}

.image-container p {
   color: #fff;
   font-weight: bold;
   font-size: 1.5rem;
   text-align: center;
}